$color-primary: #343a40 !default;
$color-secondary: white !default;
$shadow-primary: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

//form styles 
$form-content-padding: 10px;

// padding top and bottom
$bot-padding: 48px;
$top-padding: 60px;


//flexbox center styling
@mixin style-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin form-title-style {
    width: 100%;
    background: $color-primary;
    color: $color-secondary;
    font-size: 2rem;
    padding: 10px;
}

//Login-Reg Page Style
$logreg-width-sm: 90%;
@mixin logreg-style {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 40%;
    }
}
