.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
       color: white; 
       font-size: 9em;
    }
}
