@import '../../styles/config'; 

.side-nav {
    position: absolute;
    left: 0;
    top: 60px;
    width: 300px;
}

.content {
    padding-left: 320px;
    padding-top: $top-padding;
}

.side-nav__list {
    border: none;
}


@media (max-width: 768px) {
    .side-nav {
        display: none;
    }
    .content {
        padding-left: 0;
    }
}