@import '../../styles/config'; 


.playlist-card-sm {
    width: 31%;
    display: flex;
    border:1px solid lightblue;
    margin:0.5rem;
    border-radius: 0.4rem;
    background: $color-primary;
    color: $color-secondary;
    padding: 10px;
    // div {
    //     padding: 10px;
    // }
    &:hover {
        background-color: gray;
    }

    .playlist-card-sm-img {
        // flex-grow: 1;
    }
    .playlist-card-sm-title {
        // flex-grow: 9;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-content: space-between;
    }

}

.playlist-card-sm-playicon {
    // width: 200px;
    position: absolute;
    // top: 1px;
    // left: 5;
    // right: 0.5;

}