@import '../../styles/config';


.search__list {
    overflow-y: auto;
    height: 550px;
}

.search__input {
    width: 50%;
    margin: 10px;
}

@media (max-width: 768px) {
    .search__input {
        width: 95%;
    }
}