@import '../../styles/config';

.player {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    background: $color-primary;
    color: $color-secondary;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.player__title {
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;

    div {
        padding: 10px;
    }
}

.player__controls {
    width: 40%;
}

.player__controls__audioplayer {
    width: 90%;
}

.player__volume {
    width: 20%;
}


@media (max-width: 768px) {
    .player {
        bottom: 50px;
    }
}