@import '../../styles/config';

.player {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    background: $color-primary;
    color: $color-secondary;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;

}

.player__title {
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;

    div {
        padding: 10px;
    }
}

.player__title__text {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 800px;
    height: 50px;
}

.player__controls {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    div {
        padding: 3px;
    }
}

.player__controls__audioplayer {
    width: 90%;
}

.player__controls__progress {
    width: 90%;
}

.player__volume {
    width: 20%;
    // @include style-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    div {
        padding: 2px;
    }
}

.player__volume__slider {
    width: 90%;
}

.player__slider-vert {
    position: absolute;
    right: 2;
    bottom: 60px;
    width: 50px;
    background: $color-primary;
    padding: 10px;
}

.player__volume__icon-sm {
    cursor: pointer;
}

@media (max-width: 768px) {
    .player {
        bottom: 50px;
    }
    // .player__title {
    //     width: ;
    // }
    .player__volume {
        // display: none;
        width: 10%;
    }
    .player__volume__slider {
        display: none;
    }
    .player__volume__icon-lg {
        display: none;
    }

}

@media (min-width: 768px) {
    .player__volume__icon-sm {
        display: none;
    }
    .player__title-sm {
        display: none;
    }
}